@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
body{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    background-image: url('/img/pizza-back.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
*{  
    
    margin: 0;
    color: White;
    box-sizing: border-box;
}
input{
    color: black;
}
.info h1{
    font-size: 35px;
    font-family: 'Quicksand';
    padding: 10px;
}
.info{
    animation: rotateIn;
    animation-duration: 0.8s;
    color: black;
    margin-top: 350px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 600px;
    height: 300px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}
.form{
    display: flexbox;
    justify-content: center;
    margin-top: 20px;
}
.form label{
    color:black;
    font-family: 'Quicksand';
}
.titulo h1{
    color: black;
    margin-top: 25px;
}
.titulo a{
    color: black;
    margin-left: 15px;
    margin-top: 25px;
}
.titulo{
    margin-top: 35px;
    margin-right: 10px;
    letter-spacing: 3px;

}
.enviar{
    display: flex;
    margin-top: 5px;
}
.logo{
    display: flex;
    content:url("/img/icon-pizza.png");
    margin-bottom: -30px;
}
.numero{
    width: 45px;
}